@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Julius+Sans+One&display=swap');

:root {
  --f-family-title: 'Julius Sans One', sans-serif;
  --f-family-txt: 'Crimson Text', serif;

  /* Colores light */
  --dt-bg-color: #252B48;
  --dt-txt-color: #F3F3F2;

  /* Colores dark */
  --lt-bg-color: #F7E987;
  --lt-txt-colot: #222222;
}